

.productCart {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    width: 100%;
    background-color: #f7f9fa;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px 0px rgba(0, 64, 128, 0.1);
    margin: 10px;
    padding: 0 10px;
    color: black;
  }

  .info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .image {
    width: 20%;
  }
  
  .description,
  .price,
  .title {
    margin: 0.2rem 0;
    font-size: 1rem;
  }
  
  .title {
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .price {
    font-weight: bold;
  }

  .panel{
    border: 1px solid #a2a2a2;
    border-radius: 10px;
    padding: 2px 2px 3px 2px;
    
  }
  
  
  .linkNav{
    text-decoration: none;
    color: #272727;
}