@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
.formContainer{
    margin: 20px;
    display: flex;
    justify-content: center;
    
    
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #dddcdc;
    border-radius: 20px;
    padding: 2rem 3rem;
    width: 40%
}

.button {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    font-family: 'Ubuntu Sans Mono';
}

.bigtitle{
    font-family: 'Ubuntu Sans Mono';
    font-size: 25px;
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
}


