@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');



:root {
    --primary: #72876a;
    --secondary: #fffdfc;
    --terciary: #ae4c4c;
    
}
body{
    background-color: #fffdfc;
}
.productContainer {
    display: flex;
    justify-content: column;
}

h4 {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 14px;
}

p{
    font-family: "Montserrat";
    font-size: 12px;
}

.title, .bigtitle{
    margin: 0.2rem 0;
    font-size: 16px;
    margin-top: 20px;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Roboto Slab';
    font-weight: bold;
}

.bigtitle{
    font-family: 'Ubuntu Sans Mono';
    font-size: 18px;
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
}



@media (max-width: 600px) {
    .mtop{
        margin-top: 25vh;
    }
}
