@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    --primary: #72876a;
    --secondary: #9c6843;
    --terciary: #ae4c4c;
}

/* body {
    font-family: asap;
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
} */