@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

.productCard {
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20rem;
    background-color: #f7f9fa;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px 0px rgba(0, 64, 128, 0.1);
    margin: 10px;
    color: black;
    padding: 2rem;
    margin: 2rem;
    
  }

  .productCard:hover{
    transform: scale(1.05);
  }
  
  .image {
    width: 500px;
    height: 100%;
  }
  .image img{
    border-radius: 10px;
  }

  
  .title, .price {
    margin: 0.2rem 0;
    font-size: 16px;
    margin-top: 20px;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Roboto Slab';
    font-weight: bold;

  }
  
  .description {
    font-weight: normal;
    width: 70%;
  }
  
  
  .button {
    border: none;
    background-color: transparent;
  }
  .shoppingcart{
    font-size: x-large;
  }

  .shoppingcart:hover{
    font-size: xx-large;
  }

  
  .fontTiny{
    font-size: 10px;
    text-align: center;
  }

  .imageCard{
    border-radius: 10px;
    background-color: #f7f9fa;
    padding: 40px;
    display: flex;
    justify-content: center;
    width: 45%;
    
  }
  .infoCard{
    border-radius: 10px;
    background-color: #f7f9fa;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 40%;
    height: 100%;
  }

  .imgContainer{
    width: 40vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
  }

  .imageCard img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.1);
  }
  



@media (max-width: 992px) {
  .imgContainer{
    width: 40vw;
  }
  .imageCard{
    padding: 40px;
    width: 90%;
  }
  .infoCard{
    padding: 40px;
    width: 90%;
  }
}

@media (max-width: 530px) {
  .imgContainer{
    width: 80%;
  }
  .imageCard{
    padding: 40px;
    width: 80%;
    margin: 0 20px;
  }
  .infoCard{
    width: 80%;
    padding: 50px;
  }
}