@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');


.navHeader{
    margin: 20px;
    display: flex;
    justify-content: center;

}

.navContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4px;
    width: 100%;
}
.navContainerAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}

.navRight{
    margin-left: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}

.navHidden{
    background-color: white;
    opacity: 1.5;
    padding: 20px;
}

.logo{
    margin-bottom: 40px;
}
.logo img{
    height: 140px;
}
.linkNav{
    text-decoration: none;
    color: #272727;
    font-family: 'Ubuntu Sans Mono';
}
.linkNav:hover{
    border-bottom: 2px solid #272727;
}

.signOut{
    background: white;
    border-radius: 7px;
    padding: 2px 7px;
    margin-left: 5px;
    font-family: 'Ubuntu Sans Mono';
}
.signOut:hover{
    background: #272727;
    border-radius: 7px;
    padding: 2px 7px;
    margin-left: 5px;
    color: aliceblue;
}
.navBurguer{
    display: none;
}
.navToggleAdmin{
    display: none;
}




@media (min-width: 992px) {
    .nav {
      display: flex;
    }
    .navBurguer{
        display: none;
    }
    .navToggleAdmin{
        display: none;
    }
  }
  @media (max-width: 600px) {
    .show{
        display: none;
    }
    
    .nav{
        display: none;
    } 
    .navBurguer{
        display: block;
        position: fixed;
        top: 170px;
        left: 50px;
    }
    .navToggleAdmin{
        display: block;
        position: fixed;
        top: 175px;
        right: 50px;
        z-index: 9999;
        cursor: pointer;
    }
    .navContainer {
        position: fixed;
        z-index: 999;
        background-color: white;
        opacity: 0.9;
        height: 200px;
    }
    .navContainerAdmin {
        position: fixed;
        z-index: 999;
        background-color: white;
        opacity: 0.9;
    }
  }
@media (min-width: 1536px) {
    .nav {
      margin-left: 4rem;
    }
    
}